.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  padding: 4rem 0; */
}
.logo {
  color: white;
  position: relative;
}
